/* UNIVERSAL */
*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 16pt;
}

/* HEADER */
header{
  width: 100% - 48px; /* fixes horizontal scrolling due to padding */
  height: 64px;
  display: flex;
  justify-content: space-between; /* emulates float-left and float-right for logo and nav */
  padding: 0 24px;
}

.logo{
  display: inline-flex;
  align-items: center;
}

.logo-img{
  display: inline-block;
  height: 32px; /* should be actual size, but just to make sure */
}

.logo-text{
  display: inline-block;
  font-size: 1rem;
}

nav{
  display: flex;
  align-items: stretch;
}

nav a{
  display: flex;
  align-items: center;
  padding-right: 16px;
  text-decoration: none;
  color: #333;
}

nav a:last-child{ /* prevents extra padding after last link */
  padding-right: 0;
}

/* BANNER */
#banner{
  width: 100% - 24px; /* prevent horizontal scrolling */
  padding: 32px 0 32px 24px;
  display: flex;
  align-items: center;
  background-color: lightgray;
}

.banner-img{
  display: block;
  width: 60%;
  height: 100%;
  padding-right: 24px;
}

.banner-text{
  display: block;
  width: 30%;
}

/* INFORMATION SPOTLIGHT */
#information-spotlight{
  display: flex;
  width: 100% - 24px; /* prevent horizontal scrolling */
  padding-left: 24px;
}

.main-spotlight{
  width: 60%;
  padding-right: 24px;
  padding-top: 32px;
  border-right: 1px solid #ccc;
}

.main-spotlight-img{
  width: 100%;
  margin-bottom: 32px;
}

.main-spotlight h2{
  margin-bottom: 24px;
}

.main-spotlight p1{
  display: block;
}

.quote-author{
  margin-top: 24px;
  margin-bottom: 24px;
}

.spotlight-aside{
  width: 40%;
  padding-top: 32px;
}

.aside-info-item{
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  padding: 16px;
}

.aside-info-item:last-child{
  border-bottom: 1px solid #ccc;
}

.aside-info-item img{
  width: 35%;
  height: 100%;
  margin-right: 16px;
}

.aside-info-item .text{
  width: 65%;
}

.aside-info-item .text h3{
  display: block;
  margin-bottom: 8px;
}

.aside-info-item .text p1{
  display: block;
  margin-bottom: 8px;
}


/* COURSES SPOTLIGHT */
#courses{
  width: 100% - 144px; /* no horizontal scroll */
  background-color: #efefef;
  padding: 32px 72px;
}

#courses h2{
  margin-bottom: 32px;
}

.courses-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.course-item{
  width: 32%;
  background-color: #fff;
  margin-bottom: 32px;
}

.course-item img{
  width: 100%;
  margin-bottom: 16px;
  height: auto;
}

.course-item-text{
  padding: 0 16px 24px 16px;
}

.course-item h3,
.course-item p1{
  margin-bottom: 8px;
  display: block;
}

.course-item p1:last-child{
  margin-bottom: 0;
}


/* THESIS */
#thesis{
  width: 100% - 24px; /* no horizontal scroll */
  padding: 32px 24px;
}

#thesis h2{
  margin-bottom: 32px;
}

.thesis-grid{
  display: flex;
}

.spotlight-thesis{
  width: 60%;
}

.spotlight-thesis video{
  width: 100%;
  margin-bottom: 24px;
}

.spotlight-thesis h3{
  margin-bottom: 8px;
}

.aside-theses{
  width: 40%;
  padding-left: 24px;
}

.thesis-item{
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #efefef;
}

.thesis-item img{
  width: 35%;
  margin-right: 16px;
  height: 100%;
}

.thesis-text{
  width: 65%;
}
